<div class="content-container">
    <div class="header">
        <h1 class="headline">Follow Me</h1>
    </div>
    <h4 class="desc">Feel free to reach out to me through any of the methods below or follow content I'm creating</h4>

    <div class="social-grid">
        <a [href]="contactMethods[0].link" target="_blank" class="social-card email size-large" style="grid-area: email;">
            <img [src]="'assets/imgs/' + contactMethods[0].icon + '.svg'" class="social-icon" alt="Email">
            <span class="social-label">{{ contactMethods[0].label }}</span>
            <span class="social-value">{{ contactMethods[0].value }}</span>
        </a>
        <a [href]="contactMethods[1].link" target="_blank" class="social-card telegram" style="grid-area: telegram;">
            <img [src]="'assets/imgs/' + contactMethods[1].icon + '.svg'" class="social-icon" alt="Telegram">
            <span class="social-label">{{ contactMethods[1].label }}</span>
            <span class="social-value">{{ contactMethods[1].value }}</span>
        </a>
        <a [href]="contactMethods[2].link" target="_blank" class="social-card linkedin" style="grid-area: linkedin;">
            <img [src]="'assets/imgs/' + contactMethods[2].icon + '.svg'" class="social-icon" alt="Linkedin">
            <span class="social-label">{{ contactMethods[2].label }}</span>
            <span class="social-value">{{ contactMethods[2].value }}</span>
        </a>
        <a [href]="contactMethods[3].link" target="_blank" class="social-card dev" style="grid-area: dev;">
            <img [src]="'assets/imgs/' + contactMethods[3].icon + '.svg'" class="social-icon" alt="Dev">
            <span class="social-label">{{ contactMethods[3].label }}</span>
            <span class="social-value">{{ contactMethods[3].value }}</span>
        </a>
        <a [href]="contactMethods[4].link" target="_blank" class="social-card github size-large" style="grid-area: github;">
            <img [src]="'assets/imgs/' + contactMethods[4].icon + '.svg'" class="social-icon" alt="GitHub">
            <span class="social-label">{{ contactMethods[4].label }}</span>
            <span class="social-value">{{ contactMethods[4].value }}</span>
        </a>
        <a (click)="openPaypal()" class="social-card paypal size-vertical" style="grid-area: paypal;">
            <img src="assets/imgs/paypal.svg" alt="PayPal" class="social-icon">
            <span class="social-label">Support My Work</span>
            <span class="social-value">Donate via PayPal</span>
        </a>
    </div>
</div>

