<div class="content-container">
    <h1 class="about_title">Merzkiself</h1>
  
    <div class="about_wrap">

        <div class="about_section" [@fadeSlide]="animationState ? 'visible' : 'hidden'">
            <img [src]="slides[currentSlide].image" alt="Slide image" class="about_img" />
            <p class="about_text">{{ slides[currentSlide].text }}</p>
          </div>
          
      <div class="progress_container">
        <div 
          class="progress_bar" 
          *ngFor="let slide of slides; let i = index"
        >
          <div 
            class="progress_fill" 
            [class.active]="i === currentSlide"
            [style.animationDuration.ms]="slideDuration"
          ></div>
        </div>
      </div>
    </div>
  </div>
  