<div class="content-container">
    <h1 class="about_title">Merzkiself</h1>
    
    <div class="about_wrap">
        <div class="about_section">
            <img src="assets/imgs/me1.jpg" alt="Me" class="about_img">
            <p class="about_text">Hi, I'm Anton, an 18-year-old programming enthusiast with a passion for creating and exploring the world of technology. In my free time, I dive into developing open-source projects, constantly learning and experimenting with new tools and frameworks. I enjoy solving problems, building innovative solutions, and contributing to the tech community.</p>
        </div>
    </div>
</div>
