<nav>
  <ul class="main-menu-list">
    @for (menuItem of menuItems; track menuItem.label) {
      <li>
        <a [routerLink]="[menuItem.link]" routerLinkActive="active" class="menu-item">
          <img [src]="'assets/imgs/' + menuItem.icon + '.svg'" class="menu-item__icon" alt="{{ menuItem.label }}">
          <span>{{ menuItem.label }}</span>
        </a>
      </li>
    } @empty {
      <li class="empty-menu">No menu items available</li>
    }
  </ul>

  <div class="theme-toggle" (click)="toggleTheme()">
    <div class="theme-circle" [class.light]="isLightTheme"></div>
    <span>{{ isLightTheme ? 'Light Theme' : 'Dark Theme' }}</span>
  </div>
</nav>
