<div class="menu-toggle" (click)="toggleSidebar()">
    <div [class.active]="isSidebarOpen">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<app-sidebar class="sidebar" [class.open]="isSidebarOpen"></app-sidebar>
<div class="workspace">
  <div class="floating-xvii-container">
        @for (item of xviiArray; track item) {
            <div
            class="floating-xvii"
            [style.left.%]="item.startLeft"
            [style.top.%]="item.startTop"
            [style.animation-delay.ms]="item.delay"
            [style.animation-duration.ms]="item.duration"
            >
            XVII
            </div>
        }
    </div>

  <router-outlet></router-outlet>
</div>

<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">